################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyCoreSandbox/.vs
/MyCoreSandbox/MyCoreSandbox/bin/Debug/netcoreapp2.0
/MyCoreSandbox/MyCoreSandbox/obj
